{% extends "layout.html" %}

{% block title %} {{ name }} {% endblock title %}

{% block body %}

<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/series-label.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>

<script src="app.js"></script>
<script src="graphs.js"></script>
<script >
    window.socket = io.connect('//' + document.domain + ':' + location.port);
</script>


<section class="ta-center">Resolution:
    {% for entry in ['Seconds', 'Minutes', 'Hours', 'Days'] %}
    <a href="?name={{ name }}&resolution={{ entry | lower }}" >{{ entry }}</a>
    {% endfor %}
</section>


{% for name in graphs %}
{% if (loop.index-1) % 4 == 0 %} <section class="wrapper-large grid grid--medium fullWidth"> {% endif %}
    <div id='container_{{ name.replace(" ","_") }}' class="column--light" onclick="window.location='/graph?name={{ name }}'">  </div>
{% if (loop.index) % 4 == 0 %} </section> {% endif %}
{% endfor %}

{% for name in graphs %}
    <script>
    let graph_{{ name.replace(" ", "_") }} = new LineGraph('container_{{ name.replace(" ","_") }}', window.socket, '{{name}}', /*hide_legend=*/true )
    </script>
{% endfor %}


{% endblock body %}
