<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>{% block title -%} Welcome {%- endblock title %}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/cutestrap/1.3.1/css/cutestrap.min.css" integrity="sha256-XFgHZDUWm143kvWGfuGv28xo6QSf13WApQlL3dD5MLM=" crossorigin="anonymous" />
    <link rel="stylesheet" href="base.css" />
    <link rel="manifest" href="manifest.json">
</head>


<div id=body>
    {% with flashes = get_flashed_messages() %}
    {% if flashes %}
    <div class=flashes>
        <ul>
            {% for f in flashes %}
            <li>{{ f }}</li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}
    {% endwith %}

    {% block body %}
    {% endblock body %}
</div>


<div id=nav class="ta-center">

    <a href="{{ url_for('index') }}">Index</a> |
    {% if session["logged_in"] -%}
    <a href="{{ url_for('logout') }}">Logout</a>
    {% else -%}
    <a href="{{ url_for('login') }}">Login</a>
    {% endif %}
</div>



