{% extends "layout.html" %}

{% block title %} Login {% endblock title %}

{% block body %}

<section class="wrapper">
  <h2>Login</h2>

  <form action="{{ url_for('login') }}" method=POST>

      <label class="textfield">
          <input type=text name=username>
          <span class="textfield__label">Username</span>
      </label>

      <label class="textfield">
          <input type=password name=password>
          <span class="textfield__label">Password</span>
      </label>
        <br/>
      <p><input type=submit value=Login>

  </form>


</section>
{% endblock body %}
